In [1]:
import pandas as pd
import pandahouse as ph

#параметры соединения - нужны, чтобы подключиться к нужной схеме данных
connection = {'host': 'https://clickhouse.lab.karpov.courses',
'database':'simulator_20250820',
'user':'student',
'password':'dpo_python_2020'
}

#текст запроса
query = '''
select post_id,
countIf(action = 'view') as views,
countIf(action = 'like') as likes,
uniq(user_id) as uniq_users
from {db}.feed_actions
where toDate(time) = yesterday()
group by post_id
order by views desc
limit 10
'''

# эта функция выполнит запрос и запишет его результат в pandas DataFrame
df = ph.read_clickhouse(query, connection=connection)

In [2]:
df

   post_id  views  likes  uniq_users
0     5349  17733   5226       12238
1     5356  15545   4344       11151
2     5287  14075   3774       10437
3     5367  13604   3566       10217
4     5294  12042   3006        9320
5     5295  12027   2985        9371
6     5320  11632   2885        9027
7     5282  10883   2650        8634
8     5296  10049   2279        8135
9     5333   9066   1949        7470

Помимо read_clickhouse(), вам могут быть полезны команды execute() (выполняет произвольный запрос, полезна для создания пустых табличек) и to_clickhouse() (записывает датафрейм в SQL-таблицу, присоединяя её снизу).